body {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.files-panel {
	margin-top: 2.5rem;
}

.file-panel {
	background-color: #eeeeee;
	margin-top: 1.5rem;
	border-radius: 6px;
}

.table th {
	width: 50%;
}